################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Auto/.vs/*
/Auto/*/bin
/Auto/*/obj
/**/*sln.DotSettings.user