################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Auto/.vs/Auto
/Auto/Auto/bin
/Auto/Auto/obj
